.bg-contain {
  background-size: contain;
}
.bottom-4 {
  bottom: 1rem;
}
.fixed {
  position: fixed;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.overflow-x-scroll {
  overflow-x: scroll;
}
.text-center {
  text-align: center;
}
.text-clip {
  text-overflow: clip;
}
.whitespace-normal {
  white-space: normal !important;
}
.whitespace-nowrap {
  white-space: nowrap;
}
